tensorflow
keras
numpy
pillow
fastapi
uvicorn[standard]
python-multipart
sqlalchemy
psycopg2-binary
opencv-python-headless
passlib[bcrypt]
bcrypt==4.2.1
python-jose[cryptography]
python-dotenv
pydantic[email]
joblib
sklearn
pytesseract
requests
cloudinary
xgboost